:root {
  --fontSize: 2.6rem;
  --themeColor: #2196f3;
}

.App {
  text-align: center;
  background-color: #333;
  height: 100vh;
  color: wheat;
  font-size: 50px;
  user-select: none;
  overflow-x: hidden;
}

.title {
  padding-top: 10vh;
  font-size: 80px;
  font-weight: bold;
}

#Logo {
  height: 200px;
}

.target,
.game,
.message {
  margin-top: -5vh;
  font-size: var(--fontSize);
}

.stopwatch-time {
  font-weight: bold;
}

.pausebtn {
  margin-top: 5vh;
}

.stopwatch-button {
  font-size: 50px;
  background-color: #222;
  border: none;
  color: white;
  padding: 20px;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin: 10px;
}

.new {
  font-size: 25px;
  background-color: #222;
  border: none;
  color: white;
  border-radius: 10px;
  height: 100px;
  width: 200px;
  margin: 10px;
}

#autoDiv {
  height: 100px;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.autoReset {
  font-size: 20px;
  color: #999;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* slider end */

/* own target */
#setDiv {
  margin-top: -3vh;
  height: 100px;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.ownTarget {
  height: 3vh;
  width: 10vw;
}

.ownTarget:focus {
  outline: none;
}

.ownTargetButton {
  height: 4vh;
  font-size: 1.2rem;
  background-color: var(--themeColor);
  color: wheat;
  border: 0.5px solid #333;
  border-radius: 5px;
}

.ownTargetButton:hover {
  background-color: #5aabed;
}

/* for mobiles */

@media only screen and (max-width: 600px) {
  #Logo {
    max-width: 80vw;
    height: auto;
    margin-top: -15vh;
  }
  .target,
  .game,
  .message {
    margin-top: -5vh;
    font-size: 2.7rem;
  }

  .pausebtn {
    margin-top: 5vh;
  }

  .ownTarget {
    height: 3vh;
    width: 20vw;
  }
}

@media only screen and (max-height: 800px) {
  #Logo {
    max-width: 60vw;
    height: auto;
  }
  .target,
  .game,
  .message {
    margin-top: -5vh;
    font-size: 2.4rem;
  }

  .pausebtn {
    margin-top: 5vh;
  }

  .ownTarget {
    height: 3vh;
    width: 20vw;
  }
}
